* {
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1;
  height: 100%;
  font-size: 14px;
}

.swiper-wrapper{
  min-height: 100%;
  align-items: center;
}

.image-slider{
  padding: 250px 0 220px 0;
}

.image-slider__image{
  text-align: center;
}

.image-slider__image img {
  max-width: 100%;
}

.swiper-slide{
  width: auto;
}
